* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --swiper-theme-color: rgba(243, 235, 6, 0.5);
    --swiper-navigation-size: 28px;
    --swiper-navigation-sides-offset: 40px;
    --swiper-pagination-bottom: 30px;
    --swiper-pagination-color: #f3eb06;
    --swiper-pagination-bullet-inactive-color: #C4BF37FF;
}

body {
    background: #000;
    color: #fff;
}

.slider {
    height: 100vh;
    box-shadow: inset 0 50px 50px #000000, inset 0 -50px 50px #000000;
}

.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_content {
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.swiper-slide-active .slide_content {
    opacity: 1;
}

.slide_content h2 {
    font-size: calc(var(--index) * 4);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * 2);
    position: relative;
}

.slide_content h2::after {
    content: '';
    height: 1px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.35);
    position: absolute;
    left: 40%;
    bottom: calc(var(--index) * -1);
}

.slide_content p {
    font-size: calc(var(--index) * .9);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: calc(var(--index) * .5);
    margin-bottom: calc(var(--index) * 2.6);
}

button {
    --button-color: rgba(255, 255, 255);
    padding: 9px 35px;
    font-size: 14px;
    border-radius: 10em;
    background-color: transparent;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.slider-navigation > * {
    border: 2px solid #C4BF37FF;
    border-radius: 10em;
    width: 50px;
    height: 50px;
}

.video-background {
    position: fixed;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: opacity 1.5s;
}

.video-background.change {
    opacity: 1;
}


/* Interface */

.container {
    margin: auto;
    max-width: 840px;
}

.container-top {
    display: flex;
    justify-content: space-between;
}

.top-line {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
}

.logo {
    border: 3px dotted #E1E6F7;
    border-radius: 10em;
    color: #ffffff;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
}

.logo img {
    width: 25px;
    height: auto;
}

.main-mnu {
    display: flex;
    margin-top: 15px;
    font-size: 19px;
    margin-right: -16px;
}

.main-mnu li {
    list-style: none;
}

.main-mnu a {
    color: #bbbec9;
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 200;
    outline: none;
}

.main-mnu a:hover {
    text-decoration: underline;
}






























